body {
  background-color: black;
  color: white;
}

h1, h5{
  font-family: FrizQuadrataPro-Regular;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

img.logo{
  height: auto;
  width: 50%;
}
img.diamond {
    animation-name:            rotate;
    animation-duration:        20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: auto;
    width: 70%;
}

img.diamond2 {
    animation-name:            rotate2;
    animation-duration:        20.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: auto;
    width: 70%;
}


#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
